<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.1">
    <servlet>
        <servlet-name>TradeServlet</servlet-name>
        <servlet-class>com.trading.servlet.TradeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TradeServlet</servlet-name>
        <url-pattern>/trade</url-pattern>
    </servlet-mapping>
</web-app>